

<partial name="_Notofication"/>
<div class="container">

	<div class="row">
		<div class="col-6">
			Product List
		</div>
		<div class="col-6 text-end">
			<a class="btn btn-primary" asp-controller="Product" asp-action="Upsert">
				<i class="bi bi-plus-circle me-2"></i>
				New
				</a>
		</div>
	</div>

<table id="tblData" class="table table-bordered table-hover mt-4"  style="width:100%;">
	<thead>
		<tr>
			<th>Title</th>
			<th>ISBN</th>
			<th>Price</th>
			<th>Author</th>
			<th>Category</th>
			<th></th>
		</tr>
	</thead>
</table>
</div>

@section Scripts{
		<script src="~/js/product.js"></script>
}
